version: '3.8'
services:
  backend:
    build:
      context: .
      dockerfile: Project5_HR/Dockerfile.backend
    ports:
      - "5000:5000"
    networks:
      - app-network
    env_file:
      - ./Project5_HR/.env

  frontend:
    build:
      context: .
      dockerfile: Project5_HR/Dockerfile.frontend
    ports:
      - "3000:3000"
    depends_on:
      - backend
    networks:
      - app-network

networks:
  app-network:
    driver: bridge