version: '3.8'
services:
  backend:
    build:
      context: Project5_HR_Back_End
      dockerfile: Dockerfile.backend
    ports:
      - "5000:5000"
    networks:
      - app-network
    env_file:
      - Project5_HR_Back_End/.env

  frontend:
    build:
      context: Project5_HR_Front_End
      dockerfile: Dockerfile.frontend
    ports:
      - "3000:80"
    depends_on:
      - backend
    networks:
      - app-network

networks:
  app-network:
    driver: bridge