@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import "tailwindcss";

@theme {
  --color-charcoal: rgba(45, 55, 72, 1);
  --color-accent_blue: rgba(66, 153, 225, 1);
  --color-medium_gray: rgba(160, 174, 192, 1);
  --color-light_gray: rgba(247, 250, 252, 1);
  --color-tomato_red: rgba(229, 62, 62, 1);
  --color-forest_green: rgba(34, 139, 34, 1);
}

:root {
  /* font-family: system-ui, Avenir, Helvetica, Arial, sans-serif; */
  /* line-height: 1.5; */
  font-family: 'Inter', sans-serif;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(45, 55, 72, 1);
  background-color: rgba(247, 250, 252, 1);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: rgba(66, 153, 225, 1);
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 28px;
  font-weight: bold;
}

h2 {
  font-size: 22px;
  font-weight: bold;
}

h3 {
  font-size: 18px;
  font-weight: 600;
}

p {
  font-size: 16px;
  font-weight: 400;
}

.label {
  font-size: 14px;
  font-weight: 400;
}

.caption {
  font-size: 12px;
  font-weight: 400;
}

.code {
  font-family: monospace;
  padding: 2px;
  width: min-content;
  height: min-content;
  border-radius: 5px;
  background: rgba(160, 174, 192, 1);
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-family: inherit;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

input {
  border-radius: 8px;
  font-family: inherit;
  padding: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

@media (prefers-color-scheme: light) {
  /* :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  } */
}
